body {
  margin: 0;
  font-family: Arial;
  background: #f4f4f4;
}

header {
  background: #111;
  color: white;
  text-align: center;
  padding: 20px;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: orange;
}

.hero {
  background: url("https://images.unsplash.com/photo-1549893079-842e6f6b9f1f")
    center/cover;
  color: grey;
  padding: 120px;
  text-align: center;
}

.card {
  background: white;
  margin: 30px auto;
  padding: 20px;
  width: 60%;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 15px;
}
.form-container {
  background: white;
  padding: 25px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

textarea {
  resize: none;
  height: 100px;
}

button {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  border: none;
  background: #4a90e2;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #357ab8;
}
