{%extends "layout.html"%} {%load static%} {%block title%} Головна {%endblock%}
{%block content%}
<div class="card" style="display: flex; justify-content: center">
  <form method="post" id="form">
    <div>
      <input type="text" name="name" placeholder="Ваше ім'я" required />
    </div>
    <div>
      <input type="email" name="email" placeholder="Ваш email" required />
    </div>
    <div>
      <textarea name="message" placeholder="Ваш відгук..." required></textarea>
    </div>
    <button type="submit">Надіслати</button>
  </form>
  <p id="data"></p>
</div>
<div class="card">
  {%if data%} {%for post in data%}
  <p>{{post.id}}:{{post.title}}</p>
  {%endfor%} {%endif%}
</div>
<div class="hero">
  <h2>Відкрий світ історії</h2>
  <p>Унікальні експонати та виставки</p>
</div>

<div class="card">
  <img src="{%static 'myapp/images/museum.png'%}" />
  <h3>Про музей</h3>
  <p>Наш музей зберігає культурну спадщину та історію людства.</p>
</div>

<div class="card">
  <h3>Виставки</h3>
  <p>Стародавні цивілізації, мистецтво та історія України.</p>
</div>
{%if name%}
<div class="card">
  <h3>{{name|default_if_none:""}}</h3>
  <p>{{age|default_if_none:""}}</p>
</div>

{%endif%} {%endblock%}
