{%extends "layout.html"%} {%load static%} {%block title%} Головна {%endblock%}
{%block content%}
<div class="card" style="display: flex; justify-content: center">
  <form method="post" id="form">
    <div>
      <input type="text" name="title" placeholder="Назва поста" required />
    </div>
    <button type="submit">Надіслати</button>
  </form>
</div>
<div class="card">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
      </tr>
    </thead>
    <tbody>
      {%if data%} {%for post in data%}
      <tr>
        <td scope="row">{{post.id}}</td>
        <td>{{post.title}}</td>
      </tr>
      {%endfor%} {%endif%}
    </tbody>
  </table>
</div>
<div class="hero">
  <h2>Відкрий світ історії</h2>
  <p>Унікальні експонати та виставки</p>
</div>

<div class="card">
  <img src="{%static 'myapp/images/museum.png'%}" />
  <h3>Про музей</h3>
  <p>Наш музей зберігає культурну спадщину та історію людства.</p>
</div>

<div class="card">
  <h3>Виставки</h3>
  <p>Стародавні цивілізації, мистецтво та історія України.</p>
</div>
{%if name%}
<div class="card">
  <h3>{{name|default_if_none:""}}</h3>
  <p>{{age|default_if_none:""}}</p>
</div>

{%endif%} {%endblock%}
